<!-- Donations Section -->
    <section id="event-sponsors" class="donations bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <h2 class="section-heading">Event Sponsors</h2>
            </div>
            <div class="sponsor-container">
                <div class="tera">

                </div>
                <div class="giga">

                </div>
                <div class="mega">

                </div>
                <div class="kilo">

                </div>
            </div>
            <div class="row text-center">
                <h4>Donation Instructions</h4>
                <p><a href="https://give.cmu.edu/pmtx/giving?appeal=A6692">Click here to go to the CMU Donation Portal</a></p>
                <img class="donation-instructions" src="img/donation-info.png" style="width: 40vw; min-width: 100px; max-width: 700px; padding-top: 20px; padding-bottom: 30px;">
            </div>
            <div class="row text-center">
                <h4>Sponsorship Packages</h4>
                <img class="sponsorship-tiers" src="img/sponsor-tiers.png" style="width: 75vw; max-width: 800px; padding-top: 20px; padding-bottom: 30px;">
            </div>
        </div>
    </section>
