<!-- Clients Aside -->
<!-- Portfolio Grid / Speakers Section -->
    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <h2 class="section-heading" style="text-align: center;">Event Schedule</h2>
            <div class="row">
                <div class="col-lg-12">
                    <table id="schedule" class="tableizer-table">
                    <thead><tr class="tableizer-firstrow">
                    <th colspan="3">Friday, September 8th</th></thead>
                        <tbody>
                            <th style="width: 20%, 20%, 50%;"><tr class="table-secondrow"><td>Time</td><td>Event</td><td>Details</td></tr></th>
                            <tr><td>8:00 AM</td><td>Breakfast + Registration</td><td>Rangos Ballroom, Cohon University Center</td></tr>
                            <tr><td>8:45 AM</td><td>Opening Remarks</td><td>Farnam Jahanian, Artur Dubrawski</td></tr>
                            <tr><td>9:00 AM</td><td>Short Talks: 1st Decade</td><td>Chair: Kyle Miller</br>Speakers: Andrew Moore, Jeff Schneider, Tom Mitchell, Kimberly Elenberg, Kan Deng</td></tr>
                            <tr><td>10:15 AM</td><td>Panel: Past and Future of AI/ML</td><td>Moderator: Barnabas Poczos</br>Panelists: Andrew Moore, Alex Gray, Martial Herbert, Tuomas Sandholm</td></tr>
                            <tr><td>11:00 AM</td><td>Break</td><td>&nbsp;</td></tr>
                            <tr><td>11:15 AM</td><td>Short Talks: 2nd Decade</td><td>Chair: Abby Turner</br>Speakers: Jeremy Kubica, Alex Gray, Drew Bagnell, Gilles Clermont, Karen Chen</td></tr>
                            <tr><td>1:00 PM</td><td>Lunch + Spotlights</td><td>Chairs: Jieshi Chen, Nick Gisolfi</br>Autonians</td></tr>
                            <tr><td>2:00 PM</td><td>Short Talks: 3rd Decade</td><td>Chair: Artur Dubrawski</br>Speakers: Barnabas Poczos, Cara Jones, Simon Labov, Ron Poropatich, Ken Kliethermes</td></tr>
                            <tr><td>3:15 PM</td><td>Break</td><td>&nbsp;</td></tr>
                            <tr><td>3:30 PM</td><td>Panel: AI/ML with Impact</td><td>Moderator: Jeff Schneider</br>Panelists: Karen Feinstein, Cara Jones, William King, Gilles Clermont</td></tr>
                            <tr><td>4:15 PM</td><td>Poster Session</td><td>Chairs: Jieshi Chen, Nick Gisolfi</br>Autonians</td></tr>
                            <tr><td>5:15 PM</td><td>Q&A with the Auton Faculty</td><td>Chairs: Alex Gray, Jeremy Kubica</br>Andrew Moore, Artur Dubrawski, Jeff Schneider, Barnabas Poczos</td></tr>
                            <tr><td>5:45 PM</td><td>Closing</td><td>Artur Dubrawski</td></tr>
                            <tr><td>6:00 PM</td><td>Dinner</td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-top: 4vh;">
                    <table id="schedule" class="tableizer-table">
                        <thead><tr class="tableizer-firstrow">
                            <th colspan="3">Saturday, September 9th</th></tr></thead>  
                            <tbody>
                                <th style="width: 20%, 20%, 50%;"><tr class="table-secondrow"><td>Time</td><td>Event</td><td>Details</td></tr></th>
                                <tr><td>11:00 AM</td><td>Picnic + Lunch + Activities</td><td>Food, Games & Fun!</td></tr>
                                <tr><td>2:00 PM</td><td>Birthday Cake</td><td>&nbsp;</td></tr>
                                <tr><td>2:30 PM</td><td>Continued Activities!</td><td>&nbsp;</td></tr>
                            </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-top: 4vh;">
                    <table id="schedule" class="tableizer-table">
                        <thead><tr class="tableizer-firstrow">
                            <th colspan="3">Sunday, September 10th</th></tr></thead>  
                            <tbody>
                                <th style="width: 20%, 20%, 50%;"><tr class="table-secondrow"><td>Time</td><td>Event</td><td>Details</td></tr></th>
                                <tr><td>9:00 AM</td><td>Traditional Auton Walk in Schenley Park</td><td>Meet at corner of Tech & Frew Street</td></tr>
                                <tr><td>10:00 AM</td><td>Brunch at The Porch</td><td>221 Schenley Drive, Pittsburgh, PA 15213</td></tr>
                            </tbody>
                    </table>
                </div>
            </div>		
        </div>
    </section>
