<!-- Team Section -->
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speakers and Panelists</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="speaker-container">
                    <div class="speakers">
                        <img src="img/team/alex_gray.jpg">
                        <h4>Alex Gray</h4>
                        <p class="text-muted">Head, AI Fundamental Research, IBM / Creator and Head of global Neuro-Symbolic AI</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/7.jpg">
                        <h4>Andrew Moore</h4>
                        <p class="text-muted">Lovelace, Founder of the Auton Lab</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/4.jpg">
                        <h4>Artur Dubrawski</h4>
                        <p class="text-muted">Alumni Research Professor of Computer Science, Carnegie Mellon University</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/5.jpg">
                        <h4>Barnabas Poczos</h4>
                        <p class="text-muted">Associate Professor, Co-Director of the Auton Lab</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/benedikt_boecking.png">
                        <h4>Benedikt Boecking</h4>
                        <p class="text-muted">Senior Machine Learning Researcher at Marinus Analytics</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/cara_jones.jpg">
                        <h4>Cara Jones</h4>
                        <p class="text-muted">CEO and co-founder of Marinus Analytics</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/drew_bagnell.jpg">
                        <h4>Drew Bagnell</h4>
                        <p class="text-muted">Chief Scientist and Co-Founder, Aurora / Consulting Professor at Carnegie Mellon University</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/farnam_jahanian.jpg">
                        <h4>Farnam Jahanian</h4>
                        <p class="text-muted">President, Carnegie Mellon University</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/gilles_clermont.jpg">
                        <h4>Gilles Clermont</h4>
                        <p class="text-muted">Professor of Critical Care Medicine, Mathematics and Engineering at the University of Pittsburgh; Chief Medical Officer at NOMA AI Inc.</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/6.jpg">
                        <h4>Jeff Schneider</h4>
                        <p class="text-muted">Research Professor, Co-Director of the Auton Lab, Carnegie Mellon University</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/jeremy_kubica.jpg">
                        <h4>Jeremy Kubica</h4>
                        <p class="text-muted">Director of Engineering, LINCC Frameworks (LSST Interdisciplinary Network for Collaboration and Computing) / Department of Physics, CMU</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/kan_deng.jpg">
                        <h4>Kan Deng</h4>
                        <p class="text-muted">Founder and CEO, Rxthinking Inc.</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/karen_chen.png">
                        <h4>Karen Chen</h4>
                        <p class="text-muted">Assistant Professor in Information Systems at University of Maryland Baltimore County</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/karen_feinstein.png">
                        <h4>Karen Feinstein</h4>
                        <p class="text-muted">President and Chief Executive Officer of the Jewish Healthcare Foundation (JHF) and its three operating arms: PRHI, HCF, and WHAMglobal</p>
                    </div>  
                    <div class="speakers">
                        <img src="img/team/ken_kliethermes.jpg">
                        <h4>Ken Kliethermes</h4>
                        <p class="text-muted">Vice President, Business Development at Amentum</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/elenberg_kimberly.jpg">
                        <h4>Kimberly Elenberg</h4>
                        <p class="text-muted">CAPT, U.S. Navy Retired / Principal Scientist at the Auton Lab</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/maria_dearteaga.png">
                        <h4>Maria DeArteaga</h4>
                        <p class="text-muted">Assistant Professor at the Information, Risk and Operation Management Department at McCombs School of Business, University of Texas at Austin</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/martial_hebert.jpg">
                        <h4>Martial Hebert</h4>
                        <p class="text-muted">Dean, School of Computer Science, Carnegie Mellon University</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/matias_dearteaga.jpg">
                        <h4>Matías De Arteaga Boecking</h4>
                        <p class="text-muted">Our newest 100% Autonian! [Not Speaking] Congratulations Maria and Benedikt!</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/ronald_poropatich.jpg">
                        <h4>Ronald Poropatich</h4>
                        <p class="text-muted">Director of the Center for Military Medicine Research and Health Sciences / Professor of Medicine at the University of Pittsburgh</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/simon_labov.png">
                        <h4>Simon Labov</h4>
                        <p class="text-muted">Group Leader of Nuclear Security Physics at the Lawrence Livermore National Laboratory</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/tom_mitchell.png">
                        <h4>Tom Mitchell</h4>
                        <p class="text-muted">University Professor and Founder of Machine Learning Department, Carnegie Mellon University</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/tuomas_sandholm.jpg">
                        <h4>Tuomas Sandholm</h4>
                        <p class="text-muted">Angel Jordan University Professor of Computer Science, Carnegie Mellon University</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/william_king.jpg">
                        <h4>William King</h4>
                        <p class="text-muted">Brigaider General, U.S. Army Retired / Chairman: CBRN Div, NDIA; National Chemical Corps Regimental Association U.S. Army</p>
                    </div>      
                </div>
            </div>
        </div>
    </section>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
