<!-- Team Section -->
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speakers and Panelists</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="speaker-container">
                    <div class="speakers">
                        <img src="img/team/4.jpg">
                        <h4>Artur Dubrawski</h4>
                        <p class="text-muted">Research Professor, Director of the Auton Lab</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/7.jpg">
                        <h4>Andrew Moore</h4>
                        <p class="text-muted">Lovelace, Founder of the Auton Lab</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/tom_mitchell.png">
                        <h4>Tom Mitchell</h4>
                        <p class="text-muted">CMU Machine Learning Department</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/kan_deng.jpg">
                        <h4>Kan Deng</h4>
                        <p class="text-muted">RxThinking</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/6.jpg">
                        <h4>Jeff Schneider</h4>
                        <p class="text-muted">Research Professor, Co-Director of the Auton Lab</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/elenberg_kimberly.jpg">
                        <h4>Kimberly Elenberg</h4>
                        <p class="text-muted">CMU Auton Lab</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/jeremy_kubica.jpg">
                        <h4>Jeremy Kubica</h4>
                        <p class="text-muted">CMU Physics Department</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/alex_gray.jpg">
                        <h4>Alex Gray</h4>
                        <p class="text-muted">IBM AI</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/drew_bagnell.jpg">
                        <h4>Drew Bagnell</h4>
                        <p class="text-muted">Aurora</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/gilles_clermont.jpg">
                        <h4>Gilles Clermont</h4>
                        <p class="text-muted">University of Pittsburgh School of Medicine</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/karen_chen.png">
                        <h4>Karen Chen</h4>
                        <p class="text-muted">University of Maryland Baltimore County</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/maria_dearteaga.png">
                        <h4>Maria DeArteaga</h4>
                        <p class="text-muted">University of Texas at Austin</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/benedikt_boecking.png">
                        <h4>Benedikt Boecking</h4>
                        <p class="text-muted">Marinus Analytics</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/simon_labov.png">
                        <h4>Simon Labov</h4>
                        <p class="text-muted">Lawrence Livermore National Laboratory</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/cara_jones.jpg">
                        <h4>Cara Jones</h4>
                        <p class="text-muted">Marinus Analytics</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/ronald_poropatich.jpg">
                        <h4>Ronald Poropatich</h4>
                        <p class="text-muted">Center of Military Medicine, University of Pittsburgh</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/ken_kliethermes.jpg">
                        <h4>Ken Kliethermes</h4>
                        <p class="text-muted">Amentum</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/5.jpg">
                        <h4>Barnabas Poczos</h4>
                        <p class="text-muted">Associate Professor, Co-Director of the Auton Lab</p>
                    </div>
                    <div class="speakers">
                        <img src="img/team/karen_feinstein.png">
                        <h4>Karen Feinstein</h4>
                        <p class="text-muted">Jewish Healthcare Foundation</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
